.dark-blue {
    color: #075473; /* rgb(7,84,115) */
}

.blue {
    color: #5A96AA; /* rgb(90,150,170) */
}

.turquoise {
    color: #349B90; /* rgb(52,155,144) */
}

.light-turqois {
    color: #BAD6BC; /* rgb(186,214,188) */
}

.sandy {
    color: #F2D2A2; /* rgb(242,210,162) */
}